<!-- card.component.html -->
<div class="grid-container">
  <h1 class="mat-h1">
    <ng-content select="[card-header]"></ng-content>
    
  </h1>
  <mat-grid-list cols="2" [rowHeight]="rowHeight">
    <mat-grid-tile [colspan]="colspan" [rowspan]="rowspan">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <ng-content select="[card-title]"></ng-content>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-content select="[card-content]"></ng-content>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
