.grid-container {
  margin: 20px;
}

.title-container {
  display: flex;
  align-items: center;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.angular-logo {
  max-width: 9.2rem;
  top: 6px;
  position: relative;
}

.welcome-angular {
  width: 100%;
}