<mat-toolbar>
  <span>User Management</span>
  <span class="flex-spacer"></span>
  <button mat-icon-button (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<table class="user-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button mat-icon-button (click)="openDialog(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteUser(user.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
